kind: Secret
apiVersion: v1
metadata:
  name: "{{ item.name }}"
  namespace: "{{ actionsRunnerController.namespace }}"
data:
  github_app_id: "{{ item.appId }}"
  github_app_installation_id: "{{ item.installationId }}"
  github_app_private_key: |
    "{{ item.privateKey }}"
