---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.namespace }}

---
apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  template:
    spec:
    {% if item.type == 'organization' %}
      organization: {{ item.target }}
    {% else %}
      repository: {{ item.target }}
    {% endif %}

---
apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
  name: runner-deployment-autoscaler
  namespace: {{ item.namespace }}
spec:
  # Runners in the targeted RunnerDeployment won't be scaled down
  # for 5 minutes instead of the default 10 minutes now
  scaleDownDelaySecondsAfterScaleOut: 300
  scaleTargetRef:
    kind: RunnerDeployment
    name: {{ item.name }}
  minReplicas: {{ item.minRunners }}
  maxReplicas: {{ item.maxRunners }}
  metrics:
  - type: PercentageRunnersBusy
    scaleUpThreshold: '0.75'
    scaleDownThreshold: '0.25'
    scaleUpFactor: '2'
    scaleDownFactor: '0.5'