---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: {{ argocd.namespace }}
data:
  url: https://{{ argocd.domain }}
  oidc.config: |
    name: Keycloak
    issuer: https://{{ keycloak.domain }}/realms/{{ keycloak.realm }}
    clientID: {{ keycloak.clientIds.argocd }}
    clientSecret: $oidc.keycloak.clientSecret
    requestedScopes: ["openid", "generic"]

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
data:
  policy.csv: |
    p, role:admin, *, *, */*, allow
    p, role:none, *, *, */*, deny
    g, admin, role:admin
    g, /admin, role:admin
  policy.default: role:none
  scopes: "[groups]"
