---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd
  namespace: {{ argocd.namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
    - host: {{ argocd.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-argo-cd-server
                port:
                  number: 80
  tls:
    - hosts:
        - {{ argocd.domain }}
      secretName: letsencrypt-prod-key
