---
global:
  storageClass: longhorn

applicationSet:
  enabled: true

config:
  secret:
    argocdServerAdminPassword: {{ services.argocd.password }}

server:
  nodeSelector:
    node-type: worker
  url: https://{{ services.argocd.domain }}
  insecure: true
  ingress:
    enabled: false

