minio:
  auth:
    existingSecret: minio-admin
  mode: distributed
  statefulset:
    replicaCount: 4
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-http-prod
    hostname: ""
    path: /
    extraHosts:
    - name: ""
      path: /
    tls: true
  console:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-http-prod
      hostname: ""
      path: /
      tls: true
  persistence:
    enabled: true
    mountPath: /data
    accessModes:
      - ReadWriteOnce
    size: 100Gi
  extraEnvVarsCM: minio-config
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      jobLabel: minio
      paths:
      - /minio/v2/metrics/cluster
      - /minio/v2/metrics/node
      - /minio/v2/metrics/bucket
      - /minio/v2/metrics/resource
