minio:
  global:
    security:
      allowInsecureImages: true
  image:
    repository: "bitnamilegacy/minio"
  auth:
    existingSecret: "minio-admin"
    rootUserSecretKey: "username"
    rootPasswordSecretKey: "password"
  mode: "distributed"
  statefulset:
    replicaCount: 4
  ingress:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-http-prod"
    hostname: ""
    path: "/"
    extraHosts:
    - name: ""
      path: "/"
    tls: true
  console:
    image:
      repository: "bitnamilegacy/minio-object-browser"
    ingress:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-http-prod"
      hostname: ""
      path: "/"
      tls: true
  persistence:
    enabled: true
    mountPath: "/data"
    accessModes:
      - "ReadWriteOnce"
    size: "100Gi"
  extraEnvVarsSecret: "minio-config"
  extraEnvVars:
  - name: "MINIO_IDENTITY_OPENID_DISPLAY_NAME"
    value: "Keycloak"
  - name: "MINIO_IDENTITY_OPENID_SCOPES"
    value: "openid,profile,email,roles,groups"
  - name: "MINIO_IDENTITY_OPENID_REDIRECT_URI_DYNAMIC"
    value: "on"
  - name: "MINIO_IDENTITY_OPENID_CLAIM_NAME"
    value: "minio-policy"
  - name: "MINIO_IDENTITY_OPENID_CLAIM_USERINFO"
    value: "on"
  - name: "MINIO_IDENTITY_OPENID_VENDOR"
    value: "keycloak"
  - name: "MINIO_PROMETHEUS_URL"
    value: "http://prometheus-stack-kube-prom-prometheus.prometheus-stack.svc.cluster.local:9090"
  - name: "MINIO_PROMETHEUS_JOB_ID"
    value: "minio"
  # - name: MINIO_PROMETHEUS_AUTH_TYPE
  #   value: "public"
  # - name: MINIO_IDENTITY_OPENID_CONFIG_URL
  #   value: ""
  # - name: MINIO_IDENTITY_OPENID_CLIENT_ID
  #   value: ""
  # - name: MINIO_IDENTITY_OPENID_CLIENT_SECRET
  #   value: ""
  # - name: MINIO_IDENTITY_OPENID_KEYCLOAK_REALM
  #   value: ""
  # - name: MINIO_IDENTITY_OPENID_KEYCLOAK_ADMIN_URL
  #   value: ""
  # - name: MINIO_BROWSER_REDIRECT_URL
  #   value: ""
  # - name: MINIO_DOMAIN
  #   value: ""
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      jobLabel: "minio"
      paths:
      - "/minio/v2/metrics/cluster"
      - "/minio/v2/metrics/node"
      - "/minio/v2/metrics/bucket"
      - "/minio/v2/metrics/resource"

vso:
  vaultAuth:
    default:
      method: "kubernetes"
      mount: "kubernetes"
      kubernetes:
        role: "minio"
        serviceAccount: "default"
  vaultConnection:
    default:
      address: "https://vault.vault-operator-system.svc.cluster.local:8200"
      skipTLSVerify: true
  vaultStaticSecrets:
    minioAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "minio-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "minio-admin"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "admin" | dig "username" "" }}'
            password:
              text: '{{ get .Secrets "admin" | dig "password" "" }}'
    minioConfig:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "minio-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "minio-config"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            MINIO_IDENTITY_OPENID_CONFIG_URL:
              text: ""
            MINIO_IDENTITY_OPENID_CLIENT_ID:
              text: '{{ get .Secrets "keycloak" | dig "clientId" "" }}'
            MINIO_IDENTITY_OPENID_CLIENT_SECRET:
              text: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
            MINIO_IDENTITY_OPENID_KEYCLOAK_ADMIN_URL:
              text: ""
            MINIO_IDENTITY_OPENID_KEYCLOAK_REALM:
              text: ""
            MINIO_DOMAIN:
              text: ""
            MINIO_BROWSER_REDIRECT_URL:
              text: ""
