- name: Enable IPv4 forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: true

- name: Enable IPv6 forwarding
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    state: present
    reload: true
  when: ansible_all_ipv6_addresses

- name: Enable IPv6 router advertisements
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.accept_ra
    value: "2"
    state: present
    reload: true

- name: Activating cgroup support
  ansible.builtin.lineinfile:
    # path: /boot/cmdline.txt
    path: /boot/firmware/cmdline.txt
    regexp: '^((?!.*\bcgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory\b).*)$'
    line: '\1 cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory'
    backrefs: true

# - name: Disable SWAP since kubernetes can't work with swap enabled (1/3)
#   ansible.builtin.shell: |
#     swapoff -a

# - name: Disable SWAP in fstab since kubernetes can't work with swap enabled (2/3)
#   ansible.builtin.replace:
#     path: /etc/fstab
#     regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
#     replace: '# \1'

# - name: Disable SWAP service (3/3)
#   ansible.builtin.systemd:
#     name: dphys-swapfile
#     state: stopped
#     enabled: false

- name: Install utility packages
  ansible.builtin.apt:
    update_cache: true
    state: present
    pkg:
      - bash
      - curl
      - grep

# - name: Comment out "search" line in resolv.conf
#   ansible.builtin.replace:
#     path: /etc/resolv.conf
#     regexp: '^search(.*)$'
#     replace: '#\g<0>'

# - name: Ensure resolv.conf is immutable
#   ansible.builtin.command: chattr +i /etc/resolv.conf
#   notify: reboot
