---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: {{ traefik.namespace }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`{{ traefik.domain }}`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
