kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 200Gi
  grafana:
    adminPassword: <path:secret/data/platforms/production/apps/prometheus-stack#admin | jsonPath {.password}>
    ingress:
      hosts:
      - <path:secret/data/platforms/production/apps/prometheus-stack#domain>
      tls:
      - hosts:
        - <path:secret/data/platforms/production/apps/prometheus-stack#domain>
        secretName: <path:secret/data/platforms/production/apps/prometheus-stack#domain>
    grafana.ini:
      server:
        root_url: https://<path:secret/data/platforms/production/apps/prometheus-stack#domain>
      auth.generic_oauth:
        client_id: <path:secret/data/platforms/production/apps/prometheus-stack#keycloak | jsonPath {.clientId}>
        client_secret: <path:secret/data/platforms/production/apps/prometheus-stack#keycloak | jsonPath {.clientSecret}>
        auth_url: https://<path:secret/data/platforms/production/apps/keycloak#domain>/realms/<path:secret/data/platforms/production/apps/keycloak#extras | jsonPath {.realm}>/protocol/openid-connect/auth
        token_url: https://<path:secret/data/platforms/production/apps/keycloak#domain>/realms/<path:secret/data/platforms/production/apps/keycloak#extras | jsonPath {.realm}>/protocol/openid-connect/token
        api_url: https://<path:secret/data/platforms/production/apps/keycloak#domain>/realms/<path:secret/data/platforms/production/apps/keycloak#extras | jsonPath {.realm}>/protocol/openid-connect/userinfo
