- name: Disable services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  failed_when: false
  with_items:
    - k3s
    - k3s-node
    - k3s-init
    - open-iscsi

- name: Kill containerd shim processes
  ansible.builtin.command: pkill -9 -f "k3s/data/[^/]+/bin/containerd-shim-runc"
  register: k3s_pkill_containerd_shim_runc
  changed_when: "k3s_pkill_containerd_shim_runc.rc == 0"
  failed_when: false

- name: Umount k3s filesystems
  ansible.builtin.include_tasks: umount-with-children.yml
  with_items:
    - /run/k3s
    - /var/lib/kubelet
    - /run/netns
    - /var/lib/rancher/k3s
    - /var/lib/kubelet/pods
    - /var/lib/kubelet/plugins
    - /run/netns/cni-
  loop_control:
    loop_var: mounted_fs

- name: Remove service files, binaries and data
  ansible.builtin.file:
    name: "{{ item }}"
    state: absent
    force: true
  with_items:
    - /usr/local/bin/k3s
    - "{{ k3sSystemdDir }}/k3s.service"
    - "{{ k3sSystemdDir }}/k3s-node.service"
    - /etc/rancher/k3s
    - /run/k3s
    - /run/flannel
    - /etc/rancher/
    - /var/lib/kubelet
    - /var/lib/rancher/k3s
    - /var/lib/rancher/
    - /var/lib/cni/

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Remove tmp directory used for manifests
  ansible.builtin.file:
    path: /tmp/k3s
    state: absent

- name: Unmount /dev/sda disk
  ansible.posix.mount:
    path: /storage01
    state: unmounted
  when: (additional_disk is defined) and additional_disk | bool

- name: Enable SWAP in fstab (1/2)
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^# (.+?\sswap\s+sw\s+.*)$'
    replace: '\1'

- name: Enable SWAP service (3/3)
  ansible.builtin.systemd:
    name: dphys-swapfile
    state: started
    enabled: true

- name: Enable SWAP (2/2)
  ansible.builtin.command: swapon -a
  changed_when: false
