# Ansible inventory
inventory/

# Kubernetes access files
auth/
htpasswd

# Homelab folder with ovpn & ssh files
ansible/secrets/

# Environment files
.env

# Common
.DS_Store

# Sops
argocd/**/*.dec.yaml
