# Ansible vault password (local only, never commit)
.vault_password

# Kubernetes access files
auth/
htpasswd

# K3s secrets fetched by Ansible
ansible/inventory/group_vars/.k3sCaData
ansible/inventory/group_vars/.k3sToken

# Homelab folder with ovpn & ssh files
ansible/secrets/

# Environment files
.env

# Common
.DS_Store

# Sops
*.dec.yaml

# Helm charts (packaged or source)
**/charts/
**/tmpcharts*/

# Helm secret local values
**/secret-values.yaml

# Local backup files
backups/
