- name: Copy k3s service file
  ansible.builtin.template:
    src: "k3s.service.j2"
    dest: "{{ k3sSystemdDir }}/k3s.service"
    owner: root
    group: root
    mode: "0755"

- name: Enable and check k3s service
  ansible.builtin.systemd:
    name: k3s
    daemon_reload: true
    state: restarted
    enabled: true
  timeout: 300
  retries: 3
  delay: 10
