- name: Define masters init args
  ansible.builtin.set_fact:
    k3s_init_server_args: >-
      {{ '--cluster-init' if (ansible_default_ipv4.address == k3sMasterIP)
      else '--server https://' + k3sApiServerEndpoint + ':6443 --token ' + hostvars[groups['masters'][0]]['k3s_token'] }}

- name: Copy k3s service file
  register: k3s_service
  ansible.builtin.template:
    src: "k3s.service.j2"
    dest: "{{ k3sSystemdDir }}/k3s.service"
    owner: root
    group: root
    mode: "0644"

- name: Enable and check k3s service
  ansible.builtin.systemd:
    name: k3s
    daemon_reload: true
    state: restarted
    enabled: true
  timeout: 300
  retries: 3
  delay: 10

- name: Wait for node-token
  ansible.builtin.wait_for:
    path: /var/lib/rancher/k3s/server/node-token

- name: Register node-token file access mode
  ansible.builtin.stat:
    path: /var/lib/rancher/k3s/server/node-token
  register: k3s_node_token_stat

- name: Change file access node-token
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/server/node-token
    mode: "g+rx,o+rx"

- name: Read node-token from master
  ansible.builtin.slurp:
    path: /var/lib/rancher/k3s/server/node-token
  register: k3s_node_token

- name: Store Master node-token
  ansible.builtin.set_fact:
    k3s_token: "{{ k3s_node_token.content | b64decode | regex_replace('\n', '') }}"

- name: Fetch k3sToken
  delegate_to: localhost
  become: false
  ansible.builtin.shell:
    cmd: |
      yq -i '.k3sToken = "{{ k3s_token }}"' inventory/group_vars/k3s.yml
  when: ansible_default_ipv4.address == k3sMasterIP
  changed_when: ansible_default_ipv4.address == k3sMasterIP

- name: Restore node-token file access
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/server/node-token
    mode: "{{ k3s_node_token_stat.stat.mode }}"

- name: Create directory .kube
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.kube"
    state: directory
    owner: "{{ ansible_user }}"
    mode: "u=rwx,g=rx,o="

- name: Copy config file to user home directory
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "{{ ansible_user_dir }}/.kube/config"
    remote_src: true
    owner: "{{ ansible_user }}"
    mode: "u=rw,g=,o="

- name: Configure kubectl cluster to primary master
  ansible.builtin.command: >-
    k3s kubectl config set-cluster default
      --server https://{{ k3sApiServerEndpoint }}:6443
      --kubeconfig {{ ansible_user_dir }}/.kube/config
  changed_when: true

- name: Create kubectl symlink
  ansible.builtin.file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/kubectl
    state: link

- name: Create crictl symlink
  ansible.builtin.file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/crictl
    state: link

- name: Fetch kube config
  ansible.builtin.fetch:
    src: "{{ ansible_user_dir }}/.kube/config"
    dest: "~/.kube/config.d/homelab"
    flat: true
  when: ansible_default_ipv4.address == k3sMasterIP

- name: Get cluster CA data
  ansible.builtin.shell:
    cmd: |
      kubectl config view --raw -o jsonpath='{ .clusters[0].cluster.certificate-authority-data }'
  when: ansible_default_ipv4.address == k3sMasterIP
  register: k3s_ca_data
  changed_when: false

- name: Fetch cluster CA data
  delegate_to: localhost
  become: false
  ansible.builtin.shell:
    cmd: |
      yq -i '.k3sCaData = "{{ k3s_ca_data.stdout }}"' inventory/group_vars/k3s.yml
  when: ansible_default_ipv4.address == k3sMasterIP
  changed_when: ansible_default_ipv4.address == k3sMasterIP
