---
apiVersion: v1
data:
  username: {{ mattermost.postgres.admin.username | b64encode }}
  password: {{ mattermost.postgres.admin.password | b64encode }}
kind: Secret
metadata:
  name: mattermost-postgres-admin
  namespace: {{ mattermost.namespace }}
type: kubernetes.io/basic-auth

---
apiVersion: v1
data:
  username: {{ mattermost.postgres.app.username | b64encode }}
  password: {{ mattermost.postgres.app.password | b64encode }}
kind: Secret
metadata:
  name: mattermost-postgres-user
  namespace: {{ mattermost.namespace }}
type: kubernetes.io/basic-auth

---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: mattermost-postgres-cluster
  namespace: {{ mattermost.namespace }}
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:15.3
  instances: 3
  primaryUpdateStrategy: unsupervised
  bootstrap:
    initdb:
      database: mattermost
      owner: mattermost
      secret:
        name: mattermost-postgres-user
    # Alternative bootstrap method: start from a backup
    #recovery:
    #  backup:
    #    name: backup-example
  superuserSecret:
    name: mattermost-postgres-admin
  storage:
    storageClass: longhorn
    size: 10Gi
  resources:
    requests:
      memory: "512Mi"
      cpu: "1"
    limits:
      memory: "1Gi"
      cpu: "2"
  affinity:
    enablePodAntiAffinity: true