---
# This is an example of secret containing configuration of external database.
apiVersion: v1
data:
  DB_CONNECTION_STRING: "{{ ('postgres://' + mattermost_postgres_app_username + ':' + mattermost_postgres_app_password + 'mattermost-postgres-cluster-rw:5432/mattermost') | b64encode }}"
kind: Secret
metadata:
  name: db-credentials
  namespace: mattermost
type: Opaque

---
# This is an example of secret containing credentials for an external file storage.
apiVersion: v1
data:
  accesskey: "{{ mattermost_s3_accesskey | b64encode }}"
  secretkey: "{{ mattermost_s3_secretkey | b64encode }}"
kind: Secret
metadata:
  name: file-store-credentials
  namespace: mattermost
type: Opaque

---
apiVersion: installation.mattermost.com/v1beta1
kind: Mattermost
metadata:
  name: mattermost
  namespace: mattermost
spec:
  image: docker.io/mattermost/mattermost-team-edition
  imagePullPolicy: IfNotPresent
  version: 8.0.1
  size: 1000users
  useServiceLoadBalancer: false
  ingress:
    enabled: true
    host: {{ mattermost_domain }}
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tlsSecret: letsencrypt-prod-key
#   mattermostEnv:
#     - name: MM_FILESETTINGS_AMAZONS3SSE
#       value: "true"
#     - name: MM_FILESETTINGS_AMAZONS3SSL
#       value: "true"
  database:
    external:
      secret: db-credentials
  fileStore:
    external:
      url: {{ minio_api_domain }}
      bucket: mattermost
      secret: file-store-credentials
  scheduling:
    nodeSelector:
      node-type: worker
