---
mattermostOperator:
  enabled: true
  replicas: 1
  image:
    # repository: docker.io/mattermost/mattermost-operator
    # tag: master # v1.21.0-rc.1
    repository: registry.ohmlab.fr/library/mattermost-operator
    tag: new-master
    pullPolicy: Always
  rbac:
    create: true
  serviceAccount:
    create: true

mattermostCR:
  enabled: false
