kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: pg-cluster-sonar-admin
  namespace: {{ sonarqube.namespace }}
data:
  username: {{ 'postgres' | b64encode }}
  password: {{ sonarqube.postgres.admin.password | b64encode }}

kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: pg-cluster-sonar-app
  namespace: {{ sonarqube.namespace }}
data:
  username: {{ sonarqube.postgres.app.username | b64encode }}
  password: {{ sonarqube.postgres.app.password | b64encode }}

kind: Cluster
apiVersion: postgresql.cnpg.io/v1
metadata:
  name: pg-cluster-sonar
  namespace: {{ sonarqube.namespace }}
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:15.4
  instances: 2
  primaryUpdateStrategy: unsupervised
  bootstrap:
    initdb:
      database: {{ sonarqube.postgres.dbName }}
      owner: {{ sonarqube.postgres.app.username }}
      secret:
        name: pg-cluster-sonar-app
    # recovery:
    #   backup:
    #     name: backup-example
  superuserSecret:
    name: pg-cluster-sonar-admin
  storage:
    size: 3Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 2
  affinity:
    enablePodAntiAffinity: true
