kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: sonarqube-admin
  namespace: {{ sonarqube.namespace }}
data:
  password: {{ sonarqube.password | b64encode }}
  currentPassword: {{ 'admin' | b64encode }}

kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: sonarqube-monitoring-admin
  namespace: {{ sonarqube.namespace }}
data:
  password: {{ sonarqube.monitoringPasscode | b64encode }}
