- name: Set a hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Update /etc/hosts
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: '127.0.1.1'
    line: "127.0.1.1 {{ inventory_hostname }}"
    state: present
