loki:
  loki:
    commonConfig:
      replication_factor: 1
    storage:
      type: s3 # filesystem
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin
      s3:
        endpoint: ""
        secretAccessKey: ""
        accessKeyId: ""
  singleBinary:
    replicas: 3
