operator:
  enabled: true
  nodeSelector:
    node-type: worker
prometheus:
  enabled: true
  nodeSelector:
    node-type: worker
  persistence:
    enabled: true
    size: 100Gi
  thanos:
    create: true
altermanager:
  enabled: true
  nodeSelector:
    node-type: worker
blackboxExporter:
  enabled: true
  nodeSelector:
    node-type: worker
