argo-workflows:
  controller:
    parallelism:
    resourceRateLimit: {}
      # limit: 10
      # burst: 1
    workflowNamespaces:
    - "argo-workflows"
    replicas: 3
    serviceMonitor:
      enabled: true
  server:
    replicas: 3
    authModes:
    # - "server"
    - "client"
    - "sso"
    serviceAccount:
      annotations:
        workflows.argoproj.io/rbac-rule: '"admin" in groups'
        workflows.argoproj.io/rbac-rule-precedence: "1"
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-http-prod"
      ingressClassName: "nginx"
      hosts:
      - ""
      tls:
      - secretName: ""
        hosts:
        - ""
    sso:
      enabled: true
      issuer: ""
      clientId:
        name: "argo-workflows-sso"
        key: "OIDC_CLIENT_ID"
      clientSecret:
        name: "argo-workflows-sso"
        key: "OIDC_CLIENT_SECRET"
      redirectUrl: ""
      rbac:
        enabled: true
        secretWhitelist: []
      scopes:
      - "profile"
      - "email"
      - "groups"
      - "roles"
      sessionExpiry: "24h"
      customGroupClaimName: "groups"
      userInfoPath: ""
      insecureSkipVerify: false
      filterGroupsRegex: []
      # - ".*argo-wf.*"
      # - ".*argo-workflow.*"
  metricsConfig:
    enabled: true
  crds:
    install: true
    keep: true

vso:
  vaultAuth:
    default:
      method: "kubernetes"
      mount: "kubernetes"
      kubernetes:
        role: "argo-workflows"
        serviceAccount: "default"
  vaultConnection:
    default:
      address: "https://vault.vault-operator-system.svc.cluster.local:8200"
      skipTLSVerify: true
  vaultStaticSecrets:
    argoWorkflowsSso:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "argo-workflows-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "argo-workflows-sso"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            OIDC_CLIENT_ID:
              text: '{{ get .Secrets "keycloak" | dig "clientId" "" }}'
            OIDC_CLIENT_SECRET:
              text: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
