# wg-easy v15 admin account, applied on the FIRST start of the container only
# (INIT_ENABLED). Rotating the password later is done in the UI.
INIT_USERNAME={{ wireguard.adminUser | default('admin') }}
INIT_PASSWORD={{ gateway_wireguard_password }}
