kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      minReadySeconds: 1800
      maximumStartupDurationSeconds: 1800
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 200Gi
  grafana:
    admin:
      existingSecret: "monitoring-admin"
      userKey: "username"
      passwordKey: "password"
    envValueFrom:
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID:
        secretKeyRef:
          name: "monitoring-sso"
          key: "OIDC_CLIENT_ID"
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
        secretKeyRef:
          name: "monitoring-sso"
          key: "OIDC_CLIENT_SECRET"
    ingress:
      hosts:
      - "monitoring.example.com"
      tls:
      - hosts:
        - "monitoring.example.com"
        secretName: "monitoring.example.com"
    grafana.ini:
      server:
        root_url: "https://monitoring.example.com"
      auth.generic_oauth:
        auth_url: "https://keycloak.example.com/realms/homelab/protocol/openid-connect/auth"
        token_url: "https://keycloak.example.com/realms/homelab/protocol/openid-connect/token"
        api_url: "https://keycloak.example.com/realms/homelab/protocol/openid-connect/userinfo"

vso:
  vaultStaticSecrets:
    monitoringAdmin:
      mount: "example"
      path: "platforms/production/prometheus-stack"
    monitoringSso:
      mount: "example"
      path: "platforms/production/prometheus-stack"
