apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k3sCaData }}
    server: https://192.168.1.99:6443
  name: ohmlab
contexts:
- context:
    cluster: ohmlab
    user: {{ item.username }}
    namespace: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.username }}
  user:
    client-certificate-data: {{ lookup('file', '/home/{{ item.username }}/.crt/kube.crt') | b64encode }}
    client-key-data: {{ lookup('file', '/home/{{ item.username }}/.crt/kube.key') | b64encode }}
