apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ item.username }}
  namespace: argocd
spec:
  destinations:
    - name: 'in-cluster'
      namespace: {{ item.username }}
      server: 'https://kubernetes.default.svc'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  roles:
    - description: {{ item.username }}
      groups:
        - /{{ item.username }}
        - {{ item.username }}
      name: {{ item.username }}
      policies:
        - p, proj:{{ item.username }}:{{ item.username }}, applications, *, {{ item.username }}/*, allow
  sourceRepos:
    - '*'
