- name: Update all packages on a Debian/Ubuntu
  ansible.builtin.apt:
    update_cache: true
    upgrade: dist

- name: Reboot server if kernel/libs updated and requested by the system
  ansible.builtin.shell: sleep 10 && /sbin/shutdown -r now 'Rebooting box to update system libs/kernel as needed'
  args:
    removes: /var/run/reboot-required
  async: 300
  poll: 0
  failed_when: false
  changed_when: false

- name: Wait for system to become reachable again
  ansible.builtin.wait_for_connection:
    delay: 60
    timeout: 300

- name: Verify new update (optional)
  ansible.builtin.command: uname -mrs
  register: common_uname_result
  changed_when: false

- name: Display new kernel version
  ansible.builtin.debug:
    var: common_uname_result.stdout_lines
