apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ users_ca_data | trim }}
    server: https://{{ k3sApiServerEndpoint }}:6443
  name: {{ users_cluster_name | default('homelab') }}
contexts:
- context:
    cluster: {{ users_cluster_name | default('homelab') }}
    user: {{ item.username }}
{% if (item.role | default('namespace-admin')) == 'namespace-admin' %}
    namespace: {{ item.username }}
{% else %}
    namespace: default
{% endif %}
  name: {{ users_cluster_name | default('homelab') }}
current-context: {{ users_cluster_name | default('homelab') }}
kind: Config
preferences: {}
users:
- name: {{ item.username }}
  user:
    client-certificate-data: {{ lookup('file', users_home + '/.crt/kube.crt') | b64encode }}
    client-key-data: {{ lookup('file', users_home + '/.crt/kube.key') | b64encode }}
