apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k3sCaData }}
    server: https://{{ k3sApiServerEndpoint }}:6443
  name: {{ rootDomain | default('homelab') }}
contexts:
- context:
    cluster: {{ rootDomain | default('homelab') }}
    user: {{ item.username }}
    namespace: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.username }}
  user:
    client-certificate-data: {{ lookup('file', '/tmp/homelab/' + item.username + '/.crt/kube.crt') | b64encode }}
    client-key-data: {{ lookup('file', '/tmp/homelab/' + item.username + '/.crt/kube.key') | b64encode }}
