apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
  name: user-request-{{ item.username }}
spec:
  request: {{ lookup('file', '/tmp/homelab/{{ item.username }}/.crt/kube.csr') | b64encode }}
  signerName: kubernetes.io/kube-apiserver-client
  expirationSeconds: 31536000 # 1 year
  usages:
  - client auth
