apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ item.name }}
  namespace: {{ argocd.namespace }}
spec:
  project: {{ item.name }}
  revisionHistoryLimit: 5
  source:
    repoURL: 'https://github.com/dnum-mi/transversal-doc.git'
    path: helm
    targetRevision: main
    helm:
      releaseName: {{ item.name }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ item.name }}
