apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ keycloak.helm.chartName }}
  namespace: {{ argocd.namespace }}
spec:
  project: infra
  source:
    chart: {{ keycloak.helm.chartName }}
    repoURL: {{ keycloak.helm.repoUrl }}
    targetRevision: {{ keycloak.helm.chartVersion }}
    helm:
      releaseName: {{ keycloak.helm.chartName }}
      values: 
        {{ lookup('template', 'helm-values.yml.j2') | to_yaml }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ keycloak.namespace }}
