kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: pg-cluster-keycloak-admin
  namespace: {{ keycloak.namespace }}
data:
  username: {{ 'postgres' | b64encode }}
  password: {{ keycloak.postgres.admin.password | b64encode }}

kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: pg-cluster-keycloak-user
  namespace: {{ keycloak.namespace }}
data:
  username: {{ keycloak.postgres.app.username | b64encode }}
  password: {{ keycloak.postgres.app.password | b64encode }}

kind: Cluster
apiVersion: postgresql.cnpg.io/v1
metadata:
  name: pg-cluster-keycloak
  namespace: {{ keycloak.namespace }}
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:15.4
  instances: 2
  primaryUpdateStrategy: unsupervised
  bootstrap:
    initdb:
      database: {{ keycloak.postgres.dbName }}
      owner: {{ keycloak.postgres.app.username }}
      secret:
        name: pg-cluster-keycloak-user
    #recovery:
    #  backup:
    #    name: backup-example
  superuserSecret:
    name: pg-cluster-keycloak-admin
  storage:
    size: 3Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 2
  affinity:
    enablePodAntiAffinity: true
