---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn
  namespace: "{{ services.longhorn.namespace }}"
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: {{ services.longhorn.domain }}
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: longhorn-frontend
                port:
                  number: 80
