---
persistence:
  defaultClass: true
  defaultFsType: ext4
  defaultClassReplicaCount: 3

defaultSettings:
  createDefaultDiskLabeledNodes: true
  defaultDataPath: /storage01
  storageMinimalAvailablePercentage: 25
  storageOverProvisioningPercentage: 200
  storageReservedPercentageForDefaultDisk: 10
{% if longhorn.s3.enabled == true %}
  backupTarget: {{ longhorn.s3.s3Endpoint }}
  backupTargetCredentialSecret: longhorn-s3
{% endif %}

