apiVersion: v1
kind: Secret
metadata:
  name: longhorn-s3
  namespace: {{ longhorn.namespace }}
data:
  AWS_ACCESS_KEY_ID: {{ longhorn.s3.accessKey | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn.s3.secretKey | b64encode }}
  AWS_ENDPOINTS: {{ longhorn.s3.httpsEndpoint | b64encode }}
  VIRTUAL_HOSTED_STYLE: {{ 'true' | b64encode }}
