---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashy
  namespace: {{ services.dashy.namespace }}
  labels:
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app: dashy
  replicas: 1
  template:
    metadata:
      labels:
        app: dashy
    spec:
      containers:
        - name: dashy
          image: {{ services.dashy.image }}
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "0.5"
              memory: 512Mi
            requests:
              cpu: "0.1"
              memory: 128Mi
          volumeMounts:
            - name: dashy-config
              mountPath: /app/public
              subpath: conf.yml
      volumes:
        - name: dashy-config
          configMap:
            name: dashy-config
            items:
              - key: conf.yml
                path: conf.yml
