ingressClassName: "nginx"
argocd:
  helm:
    repoUrl: "https://argoproj.github.io/argo-helm"
    repoName: "argo"
    chartName: "argo-cd"
    chartVersion: "9.1.0"
  namespace: "argocd-system"
  domain: "gitops.admin.{{ rootDomain }}"
  sso:
    enabled: false
longhorn:
  helm:
    repoUrl: "https://charts.longhorn.io"
    repoName: "longhorn"
    chartName: "longhorn"
    chartVersion: "1.8.1"
  namespace: "longhorn-system"
  domain: "longhorn.admin.{{ rootDomain }}"
  s3:
    enabled: false
    endpoint: ""
    accessKey: ""
    secretKey: ""
vault:
  helm:
    repoUrl: "https://helm.releases.hashicorp.com"
    repoName: "hashicorp"
    chartName: "vault"
    chartVersion: "0.30.0"
  namespace: "vault-system"
  domain: "vault.admin.{{ rootDomain }}"
  sso:
    enabled: false
