apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name:  {{ traefik.helm.chartName }}-system
  namespace: "{{ traefik.namespace }}"
  labels:
    app.kubernetes.io/component: metrics
    app.kubernetes.io/name: traefik
    app.kubernetes.io/instance: {{ traefik.namespace }}-{{ traefik.helm.chartName }}-system
spec:
  jobLabel: traefik-metrics
  selector:
    matchLabels:
      app.kubernetes.io/name: traefik
      app.kubernetes.io/instance: {{ traefik.namespace }}-{{ traefik.helm.chartName }}-system
  namespaceSelector:
    matchNames:
    - {{ traefik.namespace }}
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
