---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-sso
  namespace: minio
data:
  MINIO_IDENTITY_OPENID_CONFIG_URL: "https://{{ keycloak_domain }}/realms/{{ keycloak_realm }}/.well-known/openid-configuration"
  MINIO_IDENTITY_OPENID_CLIENT_ID: "{{ minio_client_id }}"
  MINIO_IDENTITY_OPENID_CLIENT_SECRET: "{{ minio_client_secret }}"
  MINIO_IDENTITY_OPENID_DISPLAY_NAME: "Keycloak"
  MINIO_IDENTITY_OPENID_SCOPES: "openid,generic,minio-authorization"
  MINIO_IDENTITY_OPENID_REDIRECT_URI_DYNAMIC: "on"
  MINIO_IDENTITY_OPENID_CLAIM_NAME: "policy"
  MINIO_IDENTITY_OPENID_CLAIM_USERINFO: "https://{{ keycloak_domain }}/realms/{{ keycloak_realm }}/protocol/openid-connect/userinfo"
  MINIO_IDENTITY_OPENID_VENDOR: "keycloak"
  MINIO_IDENTITY_OPENID_KEYCLOAK_REALM: "{{ keycloak_realm }}"
  MINIO_IDENTITY_OPENID_KEYCLOAK_ADMIN_URL: "https://{{ keycloak_domain }}/admin"
  MINIO_BROWSER_REDIRECT_URL: "https://{{ minio_domain }}/oauth_callback"
