---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-sso
  namespace: {{ minio.namespace }}
data:
  MINIO_IDENTITY_OPENID_CONFIG_URL: "https://{{ keycloak.domain }}/realms/{{ keycloak.realm }}/.well-known/openid-configuration"
  MINIO_IDENTITY_OPENID_CLIENT_ID: "{{ keycloak.clientIds.minio }}"
  MINIO_IDENTITY_OPENID_CLIENT_SECRET: "{{ minio_client_secret }}"
  MINIO_IDENTITY_OPENID_DISPLAY_NAME: "Keycloak"
  MINIO_IDENTITY_OPENID_SCOPES: "openid,generic"
  MINIO_IDENTITY_OPENID_REDIRECT_URI_DYNAMIC: "on"
  MINIO_IDENTITY_OPENID_CLAIM_NAME: "minio-policy"
  MINIO_IDENTITY_OPENID_CLAIM_USERINFO: "on"
  MINIO_IDENTITY_OPENID_VENDOR: "keycloak"
  MINIO_IDENTITY_OPENID_KEYCLOAK_REALM: "{{ keycloak.realm }}"
  MINIO_IDENTITY_OPENID_KEYCLOAK_ADMIN_URL: "https://{{ keycloak.domain }}/admin"
  MINIO_BROWSER_REDIRECT_URL: "https://{{ minio.domain }}/oauth_callback"
