---
auth:
  rootUser: {{ minio.username }}
  rootPassword: {{ minio.password }}

nodeSelector:
  node-type: worker

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hostname: {{ minio.domain }}
  path: /
  tls: true

apiIngress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hostname: {{ minio.apiDomain }}
  path: /
  tls: true

persistence:
  enabled: true
  storageClass: longhorn
  mountPath: /data
  accessModes:
    - ReadWriteOnce
  size: 500Gi

extraEnvVarsCM: minio-sso
