sonarqube:
  community:
    enabled: true
    buildNumber: 25.9.0.110598
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-http-prod
      ingressClassName: nginx
    hosts:
    - name: ""
      path: /
    tls:
    - hosts:
      - ""
      secretName: ""
  plugins:
    install:
    - https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/25.9.0/sonarqube-community-branch-plugin-25.9.0.jar
    - https://github.com/vaulttec/sonar-auth-oidc/releases/download/v3.0.0/sonar-auth-oidc-plugin-3.0.0.jar
    - https://github.com/cnescatlab/sonar-cnes-report/releases/download/5.0.2/sonar-cnes-report-5.0.2.jar
  resources:
    limits:
      cpu: 800m
      memory: 3Gi
    requests:
      cpu: 200m
      memory: 3Gi
  postgresql:
    enabled: false
  jdbcOverwrite:
    enable: true
    jdbcUrl: ""
    jdbcUsername: ""
    jdbcSecretName: sonarqube-pg-cluster-app
    jdbcSecretPasswordKey: password
  setAdminPassword:
    passwordSecretName: "sonarqube-admin"
    # securityContext: {}
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
  monitoringPasscodeSecretName: sonarqube-admin
  monitoringPasscodeSecretKey: monitoringPasscode
  jvmOpts: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-25.9.0.jar=web"
  jvmCeOpts: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-25.9.0.jar=ce"
  initSysctl:
    vmMaxMapCount: 262144
  prometheusMonitoring:
    podMonitor:
      enabled: true
      # namespace: sonarqube
  prometheusExporter:
    enabled: true
  livenessProbe:
    initialDelaySeconds: 180
    periodSeconds: 30
    failureThreshold: 20
  startupProbe:
    initialDelaySeconds: 60
    periodSeconds: 20
    failureThreshold: 30
  sonarProperties:
    # sonar.core.serverBaseURL: ""
    sonar.plugins.risk.consent: "ACCEPTED"
    sonar.auth.oidc.enabled: "true"
    sonar.auth.oidc.allowUsersToSignUp: "true"
    sonar.auth.oidc.autoLogin: "false"
    sonar.auth.oidc.loginButtonText: "Connect with Keycloak"
    sonar.auth.oidc.groupsSync.claimName: "groups"
    sonar.auth.oidc.loginStrategy: "Email"
    sonar.auth.oidc.groupsSync: "true"
    sonar.auth.oidc.scopes: "openid profile email roles groups"
    # sonar.auth.oidc.issuerUri: ""
    sonar.auth.oidc.loginStrategy.customClaim.name: "upn"
    sonar.auth.oidc.clientId.secured: ""
    # sonar.auth.oidc.clientSecret.secured: ""
  extraVolumes:
  - name: webapp
    emptyDir:
      sizeLimit: 50Mi
  extraVolumeMounts:
  - name: webapp
    mountPath: /opt/sonarqube/web
  extraInitContainers:
  - name: download-webapp
    image: docker.io/busybox:1.37
    volumeMounts:
    - name: webapp
      mountPath: /web
    command:
    - sh
    - -c
    - wget -O /tmp/sonarqube-webapp.zip https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/25.9.0/sonarqube-webapp.zip && unzip -o /tmp/sonarqube-webapp.zip -d /web && chmod -R 755 /web && chown -R 1000:0 /web && rm -f /tmp/sonarqube-webapp.zip

cnpg:
  fullnameOverride: sonarqube-pg-cluster
  imageName: ghcr.io/cloudnative-pg/postgresql:17.7
  mode: primary
  dbName: sonarqube
  credentials:
    username: sonarqube
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: 7Gi
    wal: 3Gi
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  affinity:
    topologyKey: kubernetes.io/hostname
  backup:
    enabled: false
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3:///<bucket-name>/<bucket-prefix>"
    cron: 0 0 0 * * *
    retentionPolicy: 30d
    compression: gzip
    s3Credentials:
      create: true
      secretName: sonarqube-pg-cluster-backup
      accessKeyId:
        key: accessKeyId
        value: ""
      secretAccessKey:
        key: secretAccessKey
        value: ""
      region:
        key: region
        value: ""

vso:
  vaultAuth:
    default:
      method: "kubernetes"
      mount: "kubernetes"
      kubernetes:
        role: "sonarqube"
        serviceAccount: "default"
  vaultConnection:
    default:
      address: "https://vault.vault-operator-system.svc.cluster.local:8200"
      skipTLSVerify: true
  vaultStaticSecrets:
    sonarqubeAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-admin"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "admin" | dig "username" "" }}'
            password:
              text: '{{ get .Secrets "admin" | dig "password" "" }}'
            currentPassword:
              text: '{{ get .Secrets "admin" | dig "initialPassword" "" }}'
            monitoringPasscode:
              text: '{{ get .Secrets "admin" | dig "monitoringPassword" "" }}'
    sonarqubeProperties:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-properties"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            sonar.properties:
              text: |
                sonar.auth.oidc.clientSecret.secured: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
    sonarqubeDbInfos:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-db-infos"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            DB_URL:
              text: 'postgresql://{{ get .Secrets "postgres" | dig "app" "username" "" }}:{{ get .Secrets "postgres" | dig "app" "password" "" }}@{{ get .Secrets "postgres" | dig "host" "" }}:{{ get .Secrets "postgres" | dig "port" "" }}/{{ get .Secrets "postgres" | dig "database" "" }}'
            DB_HOST:
              text: '{{ get .Secrets "postgres" | dig "host" "" }}'
            DB_PORT:
              text: '{{ get .Secrets "postgres" | dig "port" "" }}'
    sonarqubeDbAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-pg-cluster-admin"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "postgres" | dig "admin" "username" "" }}'
            password:
              text: '{{ get .Secrets "postgres" | dig "admin" "password" "" }}'
    sonarqubeDbApp:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-pg-cluster-app"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "postgres" | dig "app" "username" "" }}'
            password:
              text: '{{ get .Secrets "postgres" | dig "app" "password" "" }}'
    sonarqubePgBackup:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-pg-cluster-backup"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            S3_ENDPOINT:
              text: '{{ get .Secrets "postgres" | dig "s3" "endpoint" "" }}'
            S3_BUCKET_NAME:
              text: '{{ get .Secrets "postgres" | dig "s3" "bucketName" "" }}'
            S3_BUCKET_PREFIX:
              text: '{{ get .Secrets "postgres" | dig "s3" "bucketPrefix" "" }}'
            S3_ACCESS_KEY:
              text: '{{ get .Secrets "postgres" | dig "s3" "accessKey" "" }}'
            S3_SECRET_KEY:
              text: '{{ get .Secrets "postgres" | dig "s3" "secretKey" "" }}'
            S3_REGION:
              text: '{{ get .Secrets "postgres" | dig "s3" "region" "" }}'
    sonarqubeSso:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "sonarqube-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "sonarqube-sso"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            OIDC_CLIENT_ID:
              text: '{{ get .Secrets "keycloak" | dig "clientId" "" }}'
            OIDC_CLIENT_SECRET:
              text: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
