apiVersion: v1
kind: Secret
metadata:
  name: longhorn-admin
  namespace: "{{ longhorn.namespace }}"
type: kubernetes.io/basic-auth
data:
  username: "{{ 'admin' | b64encode }}"
  password: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) | b64encode }}"
