apiVersion: v1
kind: Secret
metadata:
  name: longhorn-admin
  namespace: "{{ longhorn.namespace }}"
  labels:
    app: longhorn
    type: credentials
stringData:
  username: "{{ longhorn_username }}"
  password: "{{ longhorn_generated_password }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-admin-htpasswd
  namespace: "{{ longhorn.namespace }}"
  labels:
    app: longhorn
    type: auth
type: Opaque
stringData:
  auth: "{{ longhorn_username }}:{{ longhorn_password_hash }}"
