apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-addons
  namespace: argocd-system
spec:
  goTemplate: true
  generators:
  - git:
      repoURL: https://github.com/this-is-tobi/homelab.git
      revision: main
      directories:
      - path: "argocd/envs/**"
  template:
    metadata:
      name: 'cluster-addons-{{.path.basename}}'
      namespace: argocd-system
    spec:
      project: admin
      revisionHistoryLimit: 5
      source:
        path: '{{.path.path}}'
        repoURL: https://github.com/this-is-tobi/homelab.git
        targetRevision: main
      destination:
        server: https://kubernetes.default.svc
        namespace: admin
      syncPolicy:
        automated:
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
        - ApplyOutOfSyncOnly=true
