apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: argocd-admin
  namespace: "{{ argocd.namespace }}"
data:
  username: "{{ 'admin' | b64encode }}"
  password: "{{ argocd_password | b64encode }}"
  passwordHash: "{{ argocd_hashed_password | b64encode }}"
