---
global:
  storageClass: longhorn

admin:
  user: {{ grafana.username }}
  password: {{ grafana.password }}

datasources:
  secretDefinition: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        # Access mode - proxy (server in the UI) or direct (browser in the UI).
        access: proxy
        url: http://kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
        isDefault: true
        jsonData:
          httpMethod: POST
          manageAlerts: true
          # prometheusType: Prometheus
          # prometheusVersion: 2.37.0
          cacheLevel: 'High'

dashboardsProvider:
  enabled: true

dashboardsConfigMaps:
  - configMapName: k3s-dashboard
    folderName: k3s
    fileName: k3s.json

grafana:
  nodeSelector:
    node-type: worker

persistence:
  enabled: true
  storageClass: longhorn
  size: 25Gi

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hostname: {{ grafana.domain }}
  path: /
  tls: true

config:
  useGrafanaIniFile: true
  grafanaIniConfigMap: grafana-conf