dashy:
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-http-prod
    labels: {}
    hosts:
    - "ohmlab.fr"
    tls:
    - secretName: ohmlab.fr-tls
      hosts:
      - ohmlab.fr
  server:
    config:
      pageInfo:
        title: Tobi's Cloud
        navLinks:
          - title: GitHub
            path: https://github.com/this-is-tobi/homelab
          - title: Documentation
            path: https://this-is-tobi.com
      appConfig:
        theme: adventure-basic
        startingView: default
        statusCheck: true
        statusCheckInterval: 300
        disableConfigurationForNonAdmin: true
        webSearch:
          disableWebSearch: true
        disableConfiguration: true
        hideComponents:
          hideHeading: false
          hideNav: true
          hideSearch: true
          hideSettings: true
          hideFooter: true
      sections:
        - name: Services
          icon: fas fa-rocket
          items:
{% if "argo-cd" in enabled_services %}
            - title: Argo-cd
              description: Deploy apps using gitops
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/argo-cd#domain>
              icon: si-argo
{% endif %}
{% if "argo-workflows" in enabled_services %}
            - title: Argo-workflows
              description: Workflow Engine for Kubernetes
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/argo-workflows#domain>
              icon: si-argo
{% endif %}
{% if "coder" in enabled_services %}
            - title: Coder
              description: Development environment in the cloud
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/coder#domain>
              icon: si-coder
{% endif %}
{% if "gitea" in enabled_services %}
            - title: Gitea
              description: Private DevOps Platform including code storage
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/gitea#domain>
              icon: si-gitea
{% endif %}
{% if "prometheus-stack" in enabled_services %}
            - title: Grafana
              description: Watch cluster metrics & application logs
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/prometheus-stack#domain>
              icon: si-grafana
{% endif %}
{% if "harbor" in enabled_services %}
            - title: Harbor
              description: Container image registry & Helm chart registry
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/harbor#domain>
              icon: si-harbor
{% endif %}
{% if "kubernetes-dashboard" in enabled_services %}
            - title: Kubernetes
              description: Kubernetes dashboard to watch cluster ressources
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/kubernetes-dashboard#domain>
              icon: si-kubernetes
{% endif %}
{% if "mattermost" in enabled_services %}
            - title: Mattermost
              description: Team communication service
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/mattermost#domain>
              icon: si-mattermost
{% endif %}
{% if "minio" in enabled_services %}
            - title: Minio
              description: Store data with s3 standard
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/minio#domain>
              icon: si-minio
{% endif %}
{% if "mlflow" in enabled_services %}
            - title: Mlflow
              description: Machine learning lifecycle management service
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/mlflow#domain>
              icon: si-mlflow
              statusCheckAcceptCodes: '401'
{% endif %}
{% if "outline" in enabled_services %}
            - title: Outline
              description: Share notes and wiki
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/outline#domain>
              icon: si-outline
{% endif %}
{% if "sonarqube" in enabled_services %}
            - title: Sonarqube
              description: Code analysis service
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/sonarqube#domain>
              icon: si-sonarqube
{% endif %}
{% if "sorry-cypress" in enabled_services %}
            - title: Sorry Cypress
              description: Run cypress tests in parallel without dashboard
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/sorry-cypress#domain>
              icon: si-cypress
{% endif %}
{% if "vault" in enabled_services %}
            - title: Vault
              description: Store & retrieve secrets safely
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/vault#domain>
              icon: si-vault
{% endif %}
{% if "vaultwarden" in enabled_services %}
            - title: Vaultwarden
              description: Password management service
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/vaultwarden#domain>
              icon: si-vaultwarden
{% endif %}
          displayData:
            sortBy: alphabetical
            collapsed: false
            rows: 5
            cols: 2
            itemSize: large
        - name: Utils
          icon: fas fa-wrench
          items:
            - title: Documentation
              description: As the saying goes RTFM
              url: https://this-is-tobi.com
              icon: fal fa-book
              statusCheck: false
            - title: Github
              description: Source code
              url: https://github.com/this-is-tobi/homelab
              icon: fab fa-github
              statusCheck: false
          displayData:
            sortBy: alphabetical
            collapsed: false
            rows: 2
            cols: 1
            itemSize: large
        - name: Services - Admin
          icon: fas fa-cog
          items:
            - title: Argo-cd
              description: Admin services deployment manager
              url: https://<path:secret/data/core/infos#argo-cd | jsonPath {.domain}>
              icon: si-argo
              statusCheck: true
{% if "keycloak" in enabled_services %}
            - title: Keycloak
              description: Single Sign On managment
              url: https://<path:secret/data/platforms/{{ platform_env.conf.env }}/apps/keycloak#domain>
              icon: si-keycloak
{% endif %}
            - title: Vault
              description: Admin secret manager
              url: https://<path:secret/data/core/infos#vault | jsonPath {.domain}>
              icon: si-vault
              statusCheck: true
          displayData:
            sortBy: alphabetical
            collapsed: true
            rows: 3
            cols: 1
            itemSize: large
