domain: null
admin:
  username: null
  password: null
  token: null
postgres:
  host: null
  port: null
  database: null
  connectionString: null
  admin:
    username: null
    password: null
  app:
    username: null
    password: null
  s3:
    endpoint: null
    accessKey: null
    secretKey: null
    bucketName: null
    bucketPrefix: null
    retentionDays: null
keycloak:
  clientId: null
  clientSecret: null
smtp:
  server: null
  port: null
  username: null
  password: null
  email: null
helmValues: {}
extras: {}
githubApps: []
#   - name: null
#     owner: null
#     appId: null
#     clientId: null
#     clientSecret: null
#     installationId: null
#     privateKey: null
