harbor:
  existingSecretAdminPassword: "harbor-admin"
  existingSecretAdminPasswordKey: "password"
  existingSecretSecretKey: "harbor-secretkey"
  registry:
    replicas: 1
  portal:
    replicas: 2
  nginx:
    replicas: 2
  core:
    replicas: 2
  jobservice:
    replicas: 2
  trivy:
    replicas: 2
  exporter:
    replicas: 2
  expose:
    type: "ingress"
  externalURL: ""
  ingress:
    hosts:
      core: ""
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-http-prod
    tls:
      enabled: true
      certSource: "secret"
      secret:
        secretName: ""
  persistence:
    enabled: true
    resourcePolicy: "keep"
    persistentVolumeClaim:
      registry:
        accessMode: "ReadWriteOnce"
        size: "5Gi"
      jobservice:
        accessMode: "ReadWriteOnce"
        size: "1Gi"
      redis:
        accessMode: "ReadWriteOnce"
        size: "1Gi"
      trivy:
        accessMode: "ReadWriteOnce"
        size: "1Gi"
    imageChartStorage:
      disableredirect: true
    type: "s3"
    s3:
      existingSecret: "" # REGISTRY_STORAGE_S3_ACCESSKEY / REGISTRY_STORAGE_S3_SECRETKEY
      region: ""
      bucket: ""
      regionendpoint: "https://s3.example.com"
  database:
    type: "external"
    external:
      host: "harbor-pg-cluster-rw"
      port: "5432"
      coreDatabase: "harbor"
      user: "harbor"
      existingSecret: "harbor-pg-cluster-app"
      sslmode: disable
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: "30s"

cnpg:
  fullnameOverride: harbor-pg-cluster
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6
  mode: primary
  dbName: harbor
  credentials:
    username: harbor
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: 7Gi
    wal: 3Gi
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  affinity:
    topologyKey: kubernetes.io/hostname
  backup:
    enabled: false
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3://"
    cron: 0 0 0 * * *
    retentionPolicy: 30d
    compression: gzip
    s3Credentials:
      create: true
      secretName: harbor-pg-cluster-backup
      accessKeyId:
        key: accessKeyId
        value: ""
      secretAccessKey:
        key: secretAccessKey
        value: ""
      region:
        key: region
        value: ""
