harbor:
  existingSecretAdminPassword: "harbor-admin"
  existingSecretAdminPasswordKey: "password"
  existingSecretSecretKey: "harbor-secretkey"
  registry:
    replicas: 1
  portal:
    replicas: 2
  nginx:
    replicas: 2
  core:
    replicas: 2
  jobservice:
    replicas: 2
  trivy:
    replicas: 2
  exporter:
    replicas: 2
  expose:
    type: "ingress"
  externalURL: ""
  ingress:
    hosts:
      core: ""
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-http-prod
    tls:
      enabled: true
      certSource: "secret"
      secret:
        secretName: ""
  persistence:
    enabled: true
    resourcePolicy: "keep"
    persistentVolumeClaim:
      registry:
        accessMode: "ReadWriteOnce"
        size: "5Gi"
      jobservice:
        accessMode: "ReadWriteOnce"
        size: "1Gi"
      redis:
        accessMode: "ReadWriteOnce"
        size: "1Gi"
      trivy:
        accessMode: "ReadWriteOnce"
        size: "1Gi"
    imageChartStorage:
      disableredirect: true
    type: "s3"
    s3:
      existingSecret: "" # REGISTRY_STORAGE_S3_ACCESSKEY / REGISTRY_STORAGE_S3_SECRETKEY
      region: ""
      bucket: ""
      regionendpoint: "https://s3.example.com"
  database:
    type: "external"
    external:
      host: "harbor-pg-cluster-rw"
      port: "5432"
      coreDatabase: "harbor"
      user: "harbor"
      existingSecret: "harbor-pg-cluster-app"
      sslmode: disable
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: "30s"

cnpg:
  fullnameOverride: harbor-pg-cluster
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6
  mode: primary
  dbName: harbor
  credentials:
    username: harbor
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: 7Gi
    wal: 3Gi
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  affinity:
    topologyKey: kubernetes.io/hostname
  backup:
    enabled: false
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3://"
    cron: 0 0 0 * * *
    retentionPolicy: 30d
    compression: gzip
    s3Credentials:
      create: true
      secretName: harbor-pg-cluster-backup
      accessKeyId:
        key: accessKeyId
        value: ""
      secretAccessKey:
        key: secretAccessKey
        value: ""
      region:
        key: region
        value: ""

vso:
  vaultAuth:
    default:
      method: "kubernetes"
      mount: "kubernetes"
      kubernetes:
        role: "harbor"
        serviceAccount: "default"
  vaultConnection:
    default:
      address: "https://vault.vault-operator-system.svc.cluster.local:8200"
      skipTLSVerify: true
  vaultStaticSecrets:
    harborAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-admin"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "admin" | dig "username" "" }}'
            password:
              text: '{{ get .Secrets "admin" | dig "password" "" }}'
    harborSecretkey:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-secretkey"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            secretKey:
              text: '{{ get .Secrets "admin" | dig "secretKey" "" }}'
    harborS3:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-s3"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            S3_ENDPOINT:
              text: '{{ get .Secrets "s3" | dig "endpoint" "" }}'
            S3_BUCKET_NAME:
              text: '{{ get .Secrets "s3" | dig "bucketName" "" }}'
            S3_BUCKET_PREFIX:
              text: '{{ get .Secrets "s3" | dig "bucketPrefix" "" }}'
            REGISTRY_STORAGE_S3_ACCESSKEY:
              text: '{{ get .Secrets "s3" | dig "accessKey" "" }}'
            REGISTRY_STORAGE_S3_SECRETKEY:
              text: '{{ get .Secrets "s3" | dig "secretKey" "" }}'
            S3_REGION:
              text: '{{ get .Secrets "s3" | dig "region" "" }}'
    harborDbInfos:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-db-infos"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            DB_URL:
              text: 'postgresql://{{ get .Secrets "postgres" | dig "app" "username" "" }}:{{ get .Secrets "postgres" | dig "app" "password" "" }}@{{ get .Secrets "postgres" | dig "host" "" }}:{{ get .Secrets "postgres" | dig "port" "" }}/{{ get .Secrets "postgres" | dig "database" "" }}'
            DB_HOST:
              text: '{{ get .Secrets "postgres" | dig "host" "" }}'
            DB_PORT:
              text: '{{ get .Secrets "postgres" | dig "port" "" }}'
    harborDbAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-pg-cluster-admin"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "postgres" | dig "admin" "username" "" }}'
            password:
              text: '{{ get .Secrets "postgres" | dig "admin" "password" "" }}'
    harborDbApp:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-pg-cluster-app"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "postgres" | dig "app" "username" "" }}'
            password:
              text: '{{ get .Secrets "postgres" | dig "app" "password" "" }}'
    harborPgBackup:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-pg-cluster-backup"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            S3_ENDPOINT:
              text: '{{ get .Secrets "postgres" | dig "s3" "endpoint" "" }}'
            S3_BUCKET_NAME:
              text: '{{ get .Secrets "postgres" | dig "s3" "bucketName" "" }}'
            S3_BUCKET_PREFIX:
              text: '{{ get .Secrets "postgres" | dig "s3" "bucketPrefix" "" }}'
            S3_ACCESS_KEY:
              text: '{{ get .Secrets "postgres" | dig "s3" "accessKey" "" }}'
            S3_SECRET_KEY:
              text: '{{ get .Secrets "postgres" | dig "s3" "secretKey" "" }}'
            S3_REGION:
              text: '{{ get .Secrets "postgres" | dig "s3" "region" "" }}'
    harborSso:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "harbor-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "harbor-sso"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            OIDC_CLIENT_ID:
              text: '{{ get .Secrets "keycloak" | dig "clientId" "" }}'
            OIDC_CLIENT_SECRET:
              text: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
