harbor:
  adminPassword: ""
  registry:
    replicaCount: 1
  portal:
    replicaCount: 2
  core:
    replicaCount: 2
  jobservice:
    replicaCount: 2
  trivy:
    replicaCount: 2
  exposureType: ingress
  externalURL: ""
  ingress:
    core:
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-http-prod
      hostname: ""
      tls: true
  persistence:
    enabled: true
    mountPath: /data
    persistentVolumeClaim:
      registry:
        size: 100Gi
        accessModes:
        - ReadWriteMany
      jobservice:
        size: 10Gi
        accessModes:
        - ReadWriteOnce
      trivy:
        size: 10Gi
        accessModes:
        - ReadWriteOnce
  postgresql:
    enabled: false
  externalDatabase:
    host: ""
    port: ""
    coreDatabase: ""
    user: ""
    password: ""
    sslmode: disable
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: "30s"

cnpg:
  fullnameOverride: harbor-pg-cluster
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6
  mode: primary
  dbName: harbor
  credentials:
    username: harbor
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: 7Gi
    wal: 3Gi
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  affinity:
    topologyKey: kubernetes.io/hostname
  backup:
    enabled: false
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3://"
    cron: 0 0 0 * * *
    retentionPolicy: 30d
    compression: gzip
    s3Credentials:
      create: true
      secretName: harbor-pg-cluster-backup
      accessKeyId:
        key: accessKeyId
        value: ""
      secretAccessKey:
        key: secretAccessKey
        value: ""
      region:
        key: region
        value: ""
