server:
  ha:
    enabled: false
    replicas: 3
  standalone:
    enabled: true
  auditStorage:
    enable: true
    size: 10Gi
  dataStorage:
    enable: true
    size: 25Gi
  nodeSelector:
    node-type: worker
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts: 
      - host: {{ vault.domain }}
        paths: 
          - /
    tls:
      - hosts:
          - {{ vault.domain }}
        secretName: {{ vault.domain }}
