---
server:
  ha:
    enabled: false
  standalone:
    enabled: true
  auditStorage:
    enable: true
    size: 10Gi
    storageClass: longhorn
  dataStorage:
    enable: true
    size: 25Gi
    storageClass: longhorn
  nodeSelector:
    node-type: worker
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts: 
      - host: {{ services.vault.domain }}
        paths: 
          - /
    tls:
      - hosts:
          - {{ services.vault.domain }}
        secretName: letsencrypt-prod-key
