---
app:
  ingress:
    enabled: true
    ingressClassName: traefik
    issuer:
      name: letsencrypt-prod
      scope: cluster
    hosts:
      - {{ kubernetes_dashboard_domain }}
    paths:
      web: /
      api: /api
    tls:
      - hosts:
          - {{ kubernetes_dashboard_domain }}
        secretName: letsencrypt-prod-key
  nodeSelector:
    node-type: worker
  settings:
    global:
      itemsPerPage: 25


cert-manager:
  enabled: false

nginx:
  enabled: false
