kind: RunnerDeployment
apiVersion: actions.summerwind.dev/v1alpha1
metadata:
  name: {{ runner.name }}
  namespace: {{ runner.namespace }}
spec:
  template:
    spec:
      repository: {{ runner.target }}
      githubAPICredentialsFrom:
        secretRef:
          name: {{ runner.secretName }}

---
kind: HorizontalRunnerAutoscaler
apiVersion: actions.summerwind.dev/v1alpha1
metadata:
  name: runner-deployment-autoscaler
  namespace: {{ runner.namespace }}
spec:
  # Runners in the targeted RunnerDeployment won't be scaled down
  # for 5 minutes instead of the default 10 minutes now
  scaleDownDelaySecondsAfterScaleOut: 300
  githubAPICredentialsFrom:
    secretRef:
      name: {{ runner.secretName }}
  scaleTargetRef:
    kind: RunnerDeployment
    name: {{ runner.name }}
  minReplicas: {{ runner.minRunners }}
  maxReplicas: {{ runner.maxRunners }}
  metrics:
  - type: PercentageRunnersBusy
    scaleUpThreshold: '0.75'
    scaleDownThreshold: '0.25'
    scaleUpFactor: '2'
    scaleDownFactor: '0.5'
