[defaults]
nocows = True
roles_path = ./roles
inventory  = ./inventory
playbook_dir = ./
remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
become = False
jinja2_native = True
vault_password_file = .vault_password

[ssh_connection]
ssh_args = -o PreferredAuthentications=publickey,password -o ControlMaster=auto -o ControlPersist=60s
