[defaults]
nocows = True
roles_path = ./roles
inventory  = ./inventory

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
become = False
ansible_python_interpreter = /usr/bin/python3
jinja2_native = True
