apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-manager
  namespace: argocd-system
spec:
  project: admin
  revisionHistoryLimit: 3
  sources:
  - repoURL: https://github.com/this-is-tobi/homelab.git
    targetRevision: main
    path: ./argo-cd
    directory:
      include: platform-manager.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd-system
  syncPolicy:
    preserveResourcesOnDeletion: true
    # automated: {}
    #   selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ApplyOutOfSyncOnly=true
