kube-prometheus-stack:
  crds:
    upgradeJob:
      enabled: true
      forceConflicts: true
  prometheus:
    prometheusSpec:
      scrapeConfigSelector:
        matchLabels: {}
      ruleSelector:
        matchLabels: {}
      probeSelector:
        matchLabels: {}
      serviceMonitorSelector:
        matchLabels: {}
      podMonitorSelector:
        matchLabels: {}
      retention: 30d
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteMany"]
            resources:
              requests:
                storage: 100Gi
  grafana:
    assertNoLeakedSecrets: false
    adminPassword: ""
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-http-prod
      hosts:
      - ""
      tls:
      - hosts:
        - ""
        secretName: ""
    defaultDashboardsTimezone: Europe/Paris
    grafana.ini:
      server:
        root_url: ""
      auth.generic_oauth:
        enabled: true
        name: Keycloak
        allow_sign_up: true
        # client_id: ""
        # client_secret: ""
        scopes: openid email profile roles groups
        email_attribute_path: email
        login_attribute_path: username
        name_attribute_path: full_name
        # auth_url: ""
        # token_url: ""
        # api_url: ""
        allow_assign_grafana_admin: true
        groups_attribute_path: groups
        role_attribute_path: contains(groups[*], 'admin') && 'GrafanaAdmin' || contains(resource_access.grafana.roles[*], 'grafanaadmin') && 'GrafanaAdmin' || contains(resource_access.grafana.roles[*], 'admin') && 'Admin' || contains(resource_access.grafana.roles[*], 'editor') && 'Editor' || 'Viewer'
    persistence:
      enabled: true
      type: sts
      accessModes:
      - ReadWriteMany
      size: 3Gi
      finalizers:
      - kubernetes.io/pvc-protection

vso:
  vaultAuth:
    default:
      method: "kubernetes"
      mount: "kubernetes"
      kubernetes:
        role: "prometheus-stack"
        serviceAccount: "default"
  vaultConnection:
    default:
      address: "https://vault.vault-operator-system.svc.cluster.local:8200"
      skipTLSVerify: true
  vaultStaticSecrets:
    monitoringAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "prometheus-stack-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "monitoring-admin"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "admin" | dig "username" "" }}'
            password:
              text: '{{ get .Secrets "admin" | dig "password" "" }}'
    monitoringSso:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "prometheus-stack-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "monitoring-sso"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            OIDC_CLIENT_ID:
              text: '{{ get .Secrets "keycloak" | dig "clientId" "" }}'
            OIDC_CLIENT_SECRET:
              text: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
