mirrors:
  {{ harbor_domain }}:
    endpoint:
      - "https://{{ harbor_domain }}"
configs:
  "https://{{ harbor_domain }}":
    auth:
      username: {{ registry_username }}
      password: {{ registry_password }}
#    tls:
#      cert_file: # path to the cert file used in the registry
#      key_file:  # path to the key file used in the registry
#      ca_file:   # path to the ca file used in the registry