mirrors:
  {{ harbor.domain }}:
    endpoint:
      - "https://{{ harbor.domain }}"
configs:
  "https://{{ harbor.domain }}":
    auth:
      username: {{ harbor.username }}
      password: {{ harbor.password }}
#    tls:
#      cert_file: # path to the cert file used in the registry
#      key_file:  # path to the key file used in the registry
#      ca_file:   # path to the ca file used in the registry