gitea:
  replicaCount: 3
  ingress:
    enabled: true
    apiVersion: "networking.k8s.io/v1"
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-http-prod"
    hosts:
    - host: ""
      paths:
      - path: "/"
        pathType: "Prefix"
    tls:
    - secretName: ""
      hosts:
      - ""
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
  serviceAccount:
    create: true
    automountServiceAccountToken: true
  persistence:
    enabled: true
    size: "25Gi"
    accessModes:
    - "ReadWriteMany"
  gitea:
    admin:
      username: ""
      password: ""
      email: ""
    oauth:
    - name: "Keycloak"
      provider: "openidConnect"
      key: ""
      secret: ""
      autoDiscoverUrl: ""
      scopes: "openid profile email roles groups"
      adminGroup: "admin"
      groupClaimName: "groups"
      # groupTeamMap: ""
      # groupTeamMapRemoval: true
    config:
      database:
        DB_TYPE: "postgres"
        HOST: ""
        NAME: ""
        USER: ""
        PASSWD: ""
      cron.GIT_GC_REPOS:
        ENABLED: false
      server:
        DOMAIN: ""
        ROOT_URL: ""
        SSH_LISTEN_PORT: 2222
      openid:
        ENABLE_OPENID_SIGNIN: true
        ENABLE_OPENID_SIGNUP: true
        WHITELISTED_URIS: ""
      service:
        SHOW_REGISTRATION_BUTTON: false
        DISABLE_REGISTRATION: true
        ALLOW_ONLY_EXTERNAL_REGISTRATION: true
      oauth2_client:
        OPENID_CONNECT_SCOPES: "openid profile email roles groups"
        REGISTER_EMAIL_CONFIRM: false
        ENABLE_AUTO_REGISTRATION: true
        ACCOUNT_LINKING: "auto"
        USERNAME: "email"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  postgresql-ha:
    enabled: false
    primary:
      persistence:
        size: "25Gi"

cnpg:
  fullnameOverride: "gitea-pg-cluster"
  imageName: "ghcr.io/cloudnative-pg/postgresql:17.6"
  mode: "primary"
  dbName: "gitea"
  credentials:
    username: "gitea"
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: "7Gi"
    wal: "3Gi"
  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"
  affinity:
    topologyKey: "kubernetes.io/hostname"
  backup:
    enabled: true
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3://"
    cron: "0 0 0 * * *"
    retentionPolicy: "30d"
    compression: "gzip"
    s3Credentials:
      create: true
      secretName: "gitea-pg-cluster-backup"
      accessKeyId:
        key: "accessKeyId"
        value: ""
      secretAccessKey:
        key: "secretAccessKey"
        value: ""
      region:
        key: "region"
        value: ""

vso:
  vaultAuth:
    default:
      method: "kubernetes"
      mount: "kubernetes"
      kubernetes:
        role: "gitea"
        serviceAccount: "default"
  vaultConnection:
    default:
      address: "https://vault.vault-operator-system.svc.cluster.local:8200"
      skipTLSVerify: true
  vaultStaticSecrets:
    giteaAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "gitea-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "gitea-admin"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "admin" | dig "username" "" }}'
            password:
              text: '{{ get .Secrets "admin" | dig "password" "" }}'
    giteaDbInfos:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "gitea-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "gitea-db-infos"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            DB_URL:
              text: 'postgresql://{{ get .Secrets "postgres" | dig "app" "username" "" }}:{{ get .Secrets "postgres" | dig "app" "password" "" }}@{{ get .Secrets "postgres" | dig "host" "" }}:{{ get .Secrets "postgres" | dig "port" "" }}/{{ get .Secrets "postgres" | dig "database" "" }}'
            DB_HOST:
              text: '{{ get .Secrets "postgres" | dig "host" "" }}'
            DB_PORT:
              text: '{{ get .Secrets "postgres" | dig "port" "" }}'
    giteaDbAdmin:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "gitea-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "gitea-pg-cluster-admin"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "postgres" | dig "admin" "username" "" }}'
            password:
              text: '{{ get .Secrets "postgres" | dig "admin" "password" "" }}'
    giteaDbApp:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "gitea-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "gitea-pg-cluster-app"
        create: true
        type: "kubernetes.io/basic-auth"
        transformation:
          excludes:
          - ".*"
          templates:
            username:
              text: '{{ get .Secrets "postgres" | dig "app" "username" "" }}'
            password:
              text: '{{ get .Secrets "postgres" | dig "app" "password" "" }}'
    giteaPgBackup:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "gitea-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "gitea-pg-cluster-backup"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            S3_ENDPOINT:
              text: '{{ get .Secrets "postgres" | dig "s3" "endpoint" "" }}'
            S3_BUCKET_NAME:
              text: '{{ get .Secrets "postgres" | dig "s3" "bucketName" "" }}'
            S3_BUCKET_PREFIX:
              text: '{{ get .Secrets "postgres" | dig "s3" "bucketPrefix" "" }}'
            S3_ACCESS_KEY:
              text: '{{ get .Secrets "postgres" | dig "s3" "accessKey" "" }}'
            S3_SECRET_KEY:
              text: '{{ get .Secrets "postgres" | dig "s3" "secretKey" "" }}'
            S3_REGION:
              text: '{{ get .Secrets "postgres" | dig "s3" "region" "" }}'
    giteaSso:
      mount: ""
      path: ""
      type: "kv-v2"
      vaultAuthRef: "gitea-vso-default"
      refreshAfter: "1h"
      hmacSecretData: true
      destination:
        name: "gitea-sso"
        create: true
        type: "Opaque"
        transformation:
          excludes:
          - ".*"
          templates:
            OIDC_CLIENT_ID:
              text: '{{ get .Secrets "keycloak" | dig "clientId" "" }}'
            OIDC_CLIENT_SECRET:
              text: '{{ get .Secrets "keycloak" | dig "clientSecret" "" }}'
