gitea:
  replicaCount: 3
  ingress:
    enabled: true
    apiVersion: "networking.k8s.io/v1"
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-http-prod"
    hosts:
    - host: ""
      paths:
      - path: "/"
        pathType: "Prefix"
    tls:
    - secretName: ""
      hosts:
      - ""
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
  serviceAccount:
    create: true
    automountServiceAccountToken: true
  persistence:
    enabled: true
    size: "25Gi"
    accessModes:
    - "ReadWriteMany"
  gitea:
    admin:
      username: ""
      password: ""
      email: ""
    oauth:
    - name: "Keycloak"
      provider: "openidConnect"
      key: ""
      secret: ""
      autoDiscoverUrl: ""
      scopes: "openid profile email roles groups"
      adminGroup: "admin"
      groupClaimName: "groups"
      # groupTeamMap: ""
      # groupTeamMapRemoval: true
    config:
      database:
        DB_TYPE: "postgres"
        HOST: ""
        NAME: ""
        USER: ""
        PASSWD: ""
      cron.GIT_GC_REPOS:
        ENABLED: false
      server:
        DOMAIN: ""
        ROOT_URL: ""
        SSH_LISTEN_PORT: 2222
      openid:
        ENABLE_OPENID_SIGNIN: true
        ENABLE_OPENID_SIGNUP: true
        WHITELISTED_URIS: ""
      service:
        SHOW_REGISTRATION_BUTTON: false
        DISABLE_REGISTRATION: true
        ALLOW_ONLY_EXTERNAL_REGISTRATION: true
      oauth2_client:
        OPENID_CONNECT_SCOPES: "openid profile email roles groups"
        REGISTER_EMAIL_CONFIRM: false
        ENABLE_AUTO_REGISTRATION: true
        ACCOUNT_LINKING: "auto"
        USERNAME: "email"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  postgresql-ha:
    enabled: false
    primary:
      persistence:
        size: "25Gi"

cnpg:
  fullnameOverride: "gitea-pg-cluster"
  imageName: "ghcr.io/cloudnative-pg/postgresql:17.6"
  mode: "primary"
  dbName: "gitea"
  credentials:
    username: "gitea"
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: "7Gi"
    wal: "3Gi"
  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"
  affinity:
    topologyKey: "kubernetes.io/hostname"
  backup:
    enabled: true
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3://"
    cron: "0 0 0 * * *"
    retentionPolicy: "30d"
    compression: "gzip"
    s3Credentials:
      create: true
      secretName: "gitea-pg-cluster-backup"
      accessKeyId:
        key: "accessKeyId"
        value: ""
      secretAccessKey:
        key: "secretAccessKey"
        value: ""
      region:
        key: "region"
        value: ""
