keycloak:
  enabled: true
  replicaCount: 1
  keycloak:
    existingSecret: "keycloak-admin"
    secretKeys:
      adminPasswordKey: "password"
    hostnameAdmin: ""
    hostname: ""
    production: true
    proxyHeaders: xforwarded
  cache:
    stack: "ispn"
  database:
    host: ""
    port: ""
    name: ""
    username: ""
    password: ""
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-http-prod
    hosts:
    - host: ""
      paths:
      - path: /
        pathType: Prefix
    tls:
    - secretName: ""
      hosts:
      - ""
  postgres:
    enabled: false
  mariadb:
    enabled: false
  resources:
    requests:
      memory: "1Gi"
      cpu: "500m"
    limits:
      memory: "2Gi"
      cpu: "1000m"
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
              - keycloak
          topologyKey: kubernetes.io/hostname
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  persistence:
    enabled: true
  extraEnv:
  - name: KC_LOG_LEVEL
    value: INFO

cnpg:
  fullnameOverride: keycloak-pg-cluster
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6
  mode: primary
  dbName: keycloak
  credentials:
    username: keycloak
    password: ""
    postgresPassword: ""
  instances: 3
  enableSuperuserAccess: false
  pvcSize:
    data: 7Gi
    wal: 3Gi
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  affinity:
    topologyKey: kubernetes.io/hostname
  backup:
    enabled: true
    legacyMode: false
    endpointURL: ""
    destinationPath: "s3://<bucket-name>/<bucket-prefix>"
    cron: 0 0 0 * * *
    retentionPolicy: 30d
    compression: gzip
    s3Credentials:
      create: true
      secretName: keycloak-pg-cluster-backup
      accessKeyId:
        key: accessKeyId
        value: ""
      secretAccessKey:
        key: secretAccessKey
        value: ""
      region:
        key: region
        value: ""
