{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ if .Dependencies }}## Requirements

| Name | Repository |
|------|------------|
{{ range .Dependencies }}| {{ .Name }}{{ if and .Alias (ne .Alias .Name) }} (as {{ .Alias }}){{ end }} | {{ .Repository }} |
{{ end }}{{ end }}
{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
