waultwarden:
  domain: ""
  adminToken:
    value: ""
  database:
    type: "postgresql"
    host: ""
    port: ""
    username: ""
    password: ""
    dbName: ""
  signupsAllowed: true
  signupsVerify: true
  invitationsAllowed: true
  invitationOrgName: ""
  ingress:
    enabled: true
    class: "nginx"
    nginxIngressAnnotations: false
    additionalAnnotations:
      cert-manager.io/cluster-issuer: "letsencrypt-http-prod"
    hostname: ""
    tls: true
    tlsSecret: ""
