- name: Copy sshd_config file
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0644"

- name: Copy ssh security conf file
  ansible.builtin.template:
    src: security.conf.j2
    dest: /etc/ssh/sshd_config.d/security.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart sshd

- name: Add super admin ssh key in authorized_keys
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: Add admin users ssh keys in authorized_keys
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    state: "{{ item.state }}"
    key: "{{ item.sshPubKey }}"
  loop: "{{ adminUsers }}"
