version: '3'

services:
  crowdsec:
    image: docker.io/crowdsecurity/crowdsec:v1.5.2
    container_name: crowdsec
    restart: always
    environment:
      COLLECTIONS: crowdsecurity/haproxy crowdsecurity/sshd
      BOUNCER_KEY_crowdsec-firewall-bouncer: {{ crowdsecBouncerNftablesKey }}
      GID: ${GID-1000}
      ENROLL_KEY: {{ crowdsecEnrollKey }}
      ENROLL_INSTANCE_NAME: {{ crowdsecEnrollInstanceName }}
    volumes:
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/log/syslog:/var/log/syslog:ro
      - /var/log/journal:/var/log/journal:ro
      - ./acquis.yml:/etc/crowdsec/acquis.yml
      - ./crowdsec-db:/var/lib/crowdsec/data/
      - ./crowdsec-config:/etc/crowdsec/
    networks:
      - homelab
  
#   crowdsec-dashboard:
#     build: ./dashboard
#     restart: always
#     ports:
#       - 3000:3000
#     environment:
#       MB_DB_TYPE: h2
#       MB_DB_FILE: /app/metabase.db
#       MGID: ${GID-1000}
#     depends_on:
#       - crowdsec
#     volumes:
#       - ./crowdsec-db:/metabase-data/
#     networks:
#       - homelab

# volumes:
#   logs:
#   crowdsec-db:
#   crowdsec-config:

networks:
  homelab:
    driver: bridge
