version: '3'

services:
  openvpn:
    # image: ixdotai/openvpn:0.2.4 
    image: docker.io/nubacuk/docker-openvpn:aarch64
    container_name: openvpn
    restart: always
    cap_add:
      - NET_ADMIN
    volumes:
      - ./openvpn-data:/etc/openvpn
    ports:
      - 1194:1194/udp
    networks:
      - openvpn

networks:
  openvpn:
    driver: bridge