apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: admin
  namespace: argocd-system
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - name: '*'
    namespace: '*'
    server: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
  roles:
  - description: Keycloak group
    groups:
    - admin
    name: admin
    policies:
    - p, proj:admin:admin, applications, *, infra/*, allow
  sourceRepos:
  - '*'
