server:
  ha:
    enabled: true
    replicas: 3
    apiAddr: "https://{{ vault.domain }}"
    raft:
      enabled: true
  standalone:
    enabled: false
  auditStorage:
    enable: true
    size: 10Gi
  dataStorage:
    enable: true
    size: 10Gi
  nodeSelector:
    node-type: worker
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      traefik.ingress.kubernetes.io/router.middlewares: kube-system-redirect-middleware@kubernetescrd
    hosts:
      - host: {{ vault.domain }}
        paths:
          - /
    tls:
      - hosts:
          - {{ vault.domain }}
        secretName: {{ vault.domain }}
