---
global:
  storageClass: longhorn

adminPassword: {{ harbor.password }}

registry:
  nodeSelector:
    node-type: worker

nginx:
  nodeSelector:
    node-type: worker

portal:
  nodeSelector:
    node-type: worker

core:
  nodeSelector:
    node-type: worker

jobservice:
  nodeSelector:
    node-type: worker

trivy:
  nodeSelector:
    node-type: worker

exporter:
  nodeSelector:
    node-type: worker

exposureType: ingress
externalURL: https://{{ harbor.domain }}

ingress:
  core:
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hostname: {{ harbor.domain }}
    tls: true

persistence:
  enabled: true
  storageClass: longhorn
  mountPath: /data
  accessModes:
    - ReadWriteOnce
  persistentVolumeClaim:
    registry:
      size: 500Gi
    jobservice:
      size: 25Gi
      scanData:
        size: 25Gi