---
global:
  storageClass: longhorn

adminPassword: {{ harbor_password }}

registry:
  nodeSelector:
    node-type: worker

nginx:
  nodeSelector:
    node-type: worker

portal:
  nodeSelector:
    node-type: worker

core:
  nodeSelector:
    node-type: worker

jobservice:
  nodeSelector:
    node-type: worker

chartmuseum:
  nodeSelector:
    node-type: worker

notary:
  server:
    nodeSelector:
      node-type: worker
  signer:
    nodeSelector:
      node-type: worker

trivy:
  nodeSelector:
    node-type: worker

exporter:
  nodeSelector:
    node-type: worker

exposureType: ingress
externalURL: https://{{ harbor_domain }}

ingress:
  core:
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hostname: {{ harbor_domain }}
    tls: true
  notary:
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hostname: notary.{{ harbor_domain }}
    tls: true

persistence:
  enabled: true
  storageClass: longhorn
  mountPath: /data
  accessModes:
    - ReadWriteOnce
  persistentVolumeClaim:
    registry:
      size: 500Gi
    jobservice:
      size: 25Gi
      scanData:
        size: 25Gi
    chartmuseum:
      size: 25Gi
    trivy:
      size: 25Gi