kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: pg-cluster-harbor-admin
  namespace: {{ harbor.namespace }}
data:
  username: {{ 'postgres' | b64encode }}
  password: {{ harbor.postgres.admin.password | b64encode }}

kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: pg-cluster-harbor-app
  namespace: {{ harbor.namespace }}
data:
  username: {{ harbor.postgres.app.username | b64encode }}
  password: {{ harbor.postgres.app.password | b64encode }}

kind: Cluster
apiVersion: postgresql.cnpg.io/v1
metadata:
  name: pg-cluster-harbor
  namespace: {{ harbor.namespace }}
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:15.4
  instances: 2
  primaryUpdateStrategy: unsupervised
  bootstrap:
    initdb:
      database: {{ harbor.postgres.dbName }}
      owner: {{ harbor.postgres.app.username }}
      secret:
        name: pg-cluster-harbor-app
    # recovery:
    #   backup:
    #     name: backup-example
  superuserSecret:
    name: pg-cluster-harbor-admin
  storage:
    size: 5Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 2
  affinity:
    enablePodAntiAffinity: true

kind: Secret
apiVersion: v1
metadata:
  name: pg-cluster-harbor-backup
  namespace: {{ harbor.namespace }}
data:
  DB_HOST: "{{ 'pg-cluster-harbor-rw' | b64encode }}"
  DB_PORT: "{{ '5432' | b64encode }}"
  DB_NAME: "{{ harbor.postgres.dbName | b64encode }}"
  DB_USER: "{{ harbor.postgres.app.username | b64encode }}"
  DB_PASS: "{{ harbor.postgres.app.password | b64encode }}"
  S3_ENDPOINT: "{{ ('https://' + harbor.s3.endpoint) | b64encode }}"
  S3_ACCESS_KEY: "{{ harbor.s3.accessKey | b64encode }}"
  S3_SECRET_KEY: "{{ harbor.s3.secretKey | b64encode }}"
  S3_BUCKET_NAME: "{{ harbor.s3.bucketName | b64encode }}"
  S3_BUCKET_PREFIX: "{{ 'backups' | b64encode }}"
  RETENTION_DAYS: "{{ '30' | b64encode }}"

apiVersion: batch/v1
kind: CronJob
metadata:
  name: pg-cluster-harbor-backup
  namespace: {{ harbor.namespace }}
  labels:
    jobgroup: pg-cluster-harbor-backup
spec:
  schedule: "0 1 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      name: pg-cluster-harbor-backup
      labels:
        jobgroup: pg-cluster-harbor-backup
    spec:
      backoffLimit: 0
      template:
        spec:
          containers:
          - name: pg-cluster-harbor-backup
            image: ghcr.io/this-is-tobi/tools/pg-backup:latest
            imagePullPolicy: Always
            envFrom:
            - secretRef:
                name: pg-cluster-harbor-backup
          restartPolicy: Never
